extends layout

append styles
    link(rel='stylesheet', href='/stylesheets/myrent.css')

append scripts
    script(src='/javascripts/jquery.js', type='text/javascript')
    
    script(src='/javascripts/myrent.js', type='text/javascript')

block content
    each item,index in result
        div.rentitem(id="div"+index)
            span.contractid(style="display:none")= item.Record.contractid
            span.ownerid(style="display:none")= item.Record.ownerid
            span.additional(style="display:none")= item.Record.additional
            ul.ulitem
                li.lihouse.lidetail
                    div.divhouse
                        div.name=item.Record.housename
                        div.description=item.Record.housedescription
                        div.address=item.Record.houseaddress
                li.lidate.lidetail
                    div.date.center=item.Record.time
                li.liprice.lidetail
                    div.price.center=item.Record.price
                if item.Record.status == "0"
                    li.listatus.lidetail
                        div.status.center 已失效
                else if item.Record.status == "1"
                    li.listatus.lidetail
                        div.status.center 申请中
                    li.lioperator.lidetail
                        div.link.center(onclick="cancel("+index+")") 取消申请
                else if item.Record.status == "2"
                    li.listatus.lidetail
                        div.status.center 待确认
                    li.lioperator.lidetail
                        span.checkowner(data-toggle="modal" data-target="#exampleModal")
                        div.link.center.check(onclick="check("+index+")") 查看附加信息
                else if item.Record.status == "3"
                    li.listatus.lidetail
                        div.status.center 已成交
                    li.lioperator.lidetail
                        span.checkcontract(data-toggle="modal" data-target="#exampleModal")
                        div.link.center(onclick="view("+index+")") 查看合约
    
