span.customerid(style="display:none")=result.idcard
span.contractid(style="display:none")=contractid
-var contractidd=contractid
.modal-header
    h5#exampleModalLabel.modal-title 租客信息和备注
    button.close(type='button', data-dismiss='modal', aria-label='Close')
      span(aria-hidden='true') ×
.modal-body
    div.ownerinfo
        div.mhead 租客信息
        div.mbody
            div.term
                span.key 姓名:
                span.value=result.name
            div.term
                span.key 身份证号:
                span.value=result.idcard
            div.term
                span.key 电话:
                span.value=result.phone
            div.term
                span.key 公司:
                span.value=result.company
            div.term
                span.key 信用分:
                span.value=result.credit
    div.ps
        div.mhead 填写附加要求 
        div.mbody
            div.term
                form#addadditionalform(action='/addContractAdditionalByIdService?contractid='+contractidd, method='post')
                    input#inputIDCard(type='text', placeholder='附加要求', name="additional")
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') 提交

.modal-footer
    button.btn.btn-secondary.closemodal(type='button', data-dismiss='modal' onclick="cancelcontract()") 取消合同
    button.btn.btn-primary(type='button' onclick='ownerconfirmcontract()') 确认合同
