extends layout

block content
  h1 房屋列表
  p Welcome #{result.owner}, this are your houses:
  p="id: "+result.id
  p="area: "+result.area
  p="status: "+result.status
  p="owner: "+result.owner
  p="user: "+result.user
