extends layout

append styles
    //link(rel='stylesheet', href='/stylesheets/signup.css') 
    link(rel='stylesheet', href='/stylesheets/rent.css')

append scripts
    script(src='/javascripts/jquery.js', type='text/javascript')
    
    //script(src='/javascripts/signup.js', type='text/javascript')
    script(src='/javascripts/rent.js', type='text/javascript')

block content
    .container
        ul#houseList
            div.header 全部房屋列表:
            each val, index in result
             li
                div.content-panel
                    div.id 房屋编号: #{val.Record.id}
                    div.area 房屋面积: #{val.Record.area}
                    div.status 房屋状态: #{val.Record.status}
                    div.owner  房屋持有者: #{val.Record.owner}
                    div.user 房屋使用者: #{val.Record.user}
                    button.want.btn.btn-danger(data-toggle="modal" data-target="#exampleModal") 详细信息      

    // use bootstrap's modal to send price request to the owner
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title 提交申请
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                .modal-body
                    form#priceform
                        .form-group
                            label(for='price' style='font-size:16px') 出租编号： 
                            input.form-control#price(type='text', placeholder="范围： 10001-19999",required='true')
                            label(for='price' style='font-size:16px') 招租标题： 
                            input.form-control#price(type='text', placeholder="eg. 整租 | 塔子湖锦绣家园幽兰苑 1 室 0 厅 0 卫",required='true')
                            label(for='price' style='font-size:16px') 信息描述： 
                            input.form-control#price(type='text', placeholder="eg. 1 室 0 厅 0 卫 10 ㎡ 空调阳台",required='true')
                            label(for='price' style='font-size:16px') 详细地址： 
                            input.form-control#price(type='text', placeholder="eg.后湖 塔子湖锦绣家园幽兰苑",required='true')
                            label(for='price' style='font-size:16px') 房主信用分： 
                            input.form-control#price(type='text', placeholder="eg. 750",required='true')
                            label(for='price' style='font-size:16px') 区域： 
                            input.form-control#price(type='text', placeholder="江岸区/江汉区/桥口区/汉阳区/武昌区/青山区/洪山区",required='true')
                            label(for='price' style='font-size:16px') 持续时间： 
                            input.form-control#price(type='text', placeholder="1年以上/6-12个月/3-6个月/1-3个月/1个月以内",required='true')
                            label(for='price' style='font-size:16px') 性别： 
                            input.form-control#price(type='text', placeholder="男/女",required='true')
                            label(for='price' style='font-size:16px') 房主编号： 
                            input.form-control#price(type='text', placeholder="房主ID",required='true')
                            small.form-text.text-muted 请按照示例规范如实填写，否则系统无法为您提交出租申请
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') 取消申请
                    button.btn.btn-primary(type='button' onclick='submitPrice()') 提交申请
